@media screen and (max-width: 1612px) {

        .media-item {
            width: 32%;
        }

}
@media screen and (max-width: 1249px) {

        .media-item {
            width: 47%;
        }

}

@media screen and (max-width: 768px) {

        .media-item {
            width: 100%;
        }

        .media-list input {
            width: 100%;
        }

    }