    @media screen and (max-width: 768px) {

        .media-list-body {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        .media-list input {
            width: 100%;
        }

        .page-container {
            width: 100%;
        }

    }