/* ==========================================================================
   Global Styles
   ========================================================================== */
@config "../tailwind.config.js";
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--color-text);
  background: var(--color-bg);
  line-height: 1.5;
}

h1{
  width: 100%;
  display: block;
}

h6{
  background-color: var(--color-bg-muted);
  padding: var(--space-sm);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.media-list {
  width: var(--max-width-page);
}

.media-list-body {
  width: var(--max-width-page);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 6px;
}

.media-row-preview {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.media-row-preview img {
  height: 120px;

}

.media-row {
  background-color: var(--color-bg-muted);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: 4px solid var(--color-bg-muted);
}

.media-row-preview img,
.media-row-preview audio, 
.media-row-preview video {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.media-row-type{
  color: black;
  padding: 5px 15px;
  text-transform: uppercase;
}

.media-row.image {
  border-top-color: black;
}
.media-row.audio {
  border-top-color: blueviolet;
}
.media-row.video {
  border-top-color: paleturquoise;
}

.media-row-type.image {
  background-color: black;
  color: white;
}
.media-row-type.audio {
  background-color: blueviolet;
  color: white;
}
.media-row-type.video {
  background-color: paleturquoise;
}

.media-row-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.media-preview-title,
.media-row-meta {
  height: 34px;
  width: 90%;
  padding: 0 5%;
}

.media-row-status-line span  {
  border-radius: var(--space-sm);
  background-color: var(--color-bg-muted);
}

.modal-content img,
.modal-content audio {
  width: 100%;  
}

.history-panel .item-list {
  max-height: 25vh;
  overflow-y: auto;
}

