/* ==========================================================================
   Global Styles
   ========================================================================== */
@config "../tailwind.config.js";
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--color-text);
  background: var(--color-bg);
  line-height: 1.5;
}

h1{
  width: 100%;
  display: block;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.media-list {
  width: var(--max-width-page)
}

.media-list-body {
  display: flex;
  flex-wrap: wrap;
}

.media-row-preview {
  width: var(--max-width-item);
  height: var(--max-width-item);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.media-row-preview img,
.media-row-preview audio, 
.media-row-preview video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.media-row {
  background-color: var(--color-bg-muted);
  width: var(--max-width-item);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: 4px solid var(--color-bg-muted);
  border-radius: 8px;
}

.media-row-type{
  color: white;
  padding: 5px 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.media-row-preview img,
.media-row-type.image {
  background-color: black;
}
.media-row-preview audio,
.media-row-type.audio {
  background-color: blueviolet;
}
.media-row-preview video,
.media-row-type.video {
  background-color: paleturquoise;
  color: black;
}
.media-row.image {
  border-top-color: black;
}
.media-row.audio {
  border-top-color: blueviolet;
}
.media-row.video {
  border-top-color: paleturquoise;
}

.media-row-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

button {
  white-space: nowrap;
}

.media-preview-title {
  white-space: nowrap; 
  overflow: hidden;       
  text-overflow: ellipsis;
  height: 30px;
  width: calc(var(--max-width-item));
  padding-left: 5px;
}

.media-row-meta {
  height: 44px;
  width: 95%;
  padding-left: 5px;
}

.media-row-actions {
  border-top: 1px solid var(--color-overlay);
}

.media-row-status-line span  {
  border-radius: var(--space-sm);
  background-color: var(--color-bg-muted);
}

.modal-content img,
.modal-content audio {
  width: 100%;  
}



