/* ==========================================================================
   Global Styles
   ========================================================================== */
@config "../tailwind.config.js";
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--color-text);
  background: var(--color-bg);
  line-height: 1.5;
}

h1{
  width: 100%;
  display: block;
}

h6{
  background-color: var(--color-bg-muted);
  padding: var(--space-sm);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.media-list {
  width: var(--max-width-page);
}

.media-list-body {
  width: 100%;
  display: grid;
  grid-template-columns: var(--body-grid-template-columns);
  gap: 6px;
}

.media-item {
  width: 100%;
  background-color: var(--color-bg-muted);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 4px solid var(--color-bg-muted);
}

.media-item-type {
  height: 40px;
}
.media-item-preview {
  height: 240px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.media-item-footer{
  height: 30px;
}
.audio-label {
  height: 200px;
  width: 100%;
  background-color: blueviolet;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media-item-preview video {
  height: 240px;
}

/*
.media-item-preview {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.media-item-preview.audio img {
  height: 200px;
}

.media-item-preview audio {
  width: 100%;
}

.media-item-preview video {
  height: 242px;
}

.media-item-preview img {
  height: 200px;
}
*/
.media-item-preview img,
.media-item-preview audio, 
.media-item-preview video {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.media-item-type{
  color: black;
  padding: 5px 15px;
  text-transform: uppercase;
}

.media-item.image {
  border-top-color: black;
}
.media-item.audio {
  border-top-color: blueviolet;
}
.media-item.video {
  border-top-color: paleturquoise;
}

.media-item-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.media-item-status-line span  {
  border-radius: var(--space-sm);
  background-color: var(--color-bg-muted);
}

.modal-content img,
.modal-content audio {
  width: 100%;  
}

.history-panel .item-list {
  max-height: 25vh;
  overflow-y: auto;
}

