/* ==========================================================================
   Global Styles
   ========================================================================== */
@config "../tailwind.config.js";
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--color-text);
  background: var(--color-bg);
  line-height: 1.5;
}

h1{
  width: 100%;
  display: block;
}

h6{
  background-color: var(--color-bg-muted);
  padding: var(--space-sm);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.media-list {
  width: var(--max-width-page);
}

.media-list-body {
  width: var(--max-width-page);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 6px;
}

.media-item-preview {
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.media-item-preview img {
  height: 120px;

}

.media-item {
  background-color: var(--color-bg-muted);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: 4px solid var(--color-bg-muted);
  padding-bottom: var(--space-md);
}

.media-item-preview img,
.media-item-preview audio, 
.media-item-preview video {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.media-item-type{
  color: black;
  padding: 5px 15px;
  text-transform: uppercase;
}

.media-item.image {
  border-top-color: black;
}
.media-item.audio {
  border-top-color: blueviolet;
}
.media-item.video {
  border-top-color: paleturquoise;
}

.media-item-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.media-preview-title,
.media-item-meta {
  width: 99%;
  padding: 0 5%;
}

.media-item-status-line span  {
  border-radius: var(--space-sm);
  background-color: var(--color-bg-muted);
}

.modal-content img,
.modal-content audio {
  width: 100%;  
}

.history-panel .item-list {
  max-height: 25vh;
  overflow-y: auto;
}

