/* ==========================================================================
   Global Styles
   ========================================================================== */
@config "../tailwind.config.js";
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--color-text);
  background: var(--color-bg);
  line-height: 1.5;
}

audio {
  width: 100%;
}

h1{
  display: block;
}

h6{
  font-weight: 600;
  padding: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section-header .toolbar {
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4;
}

.section-header .toolbar button {
  margin-left: 20px;
}

.modal-content img,
.modal-content audio {
  width: 100%;  
}

.history-panel {
  width: 100%;
}

.user-avatar {
  width: 35px;
  height: 35px;
}

